* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
:root {
  --black: #242827;
  --light-black: #202523;
  --green: #d0e269;
  --light-gray: #7a7a7a;
}
/* style top header */
body {
  width: 100%;
}
header {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
}
#top-header {
  height: 100px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  background-color: var(--black);
}
#template-logo {
  width: 80px;
  height: 70%;
  display: flex;
  align-self: center;
  margin-left: 100px;
}
#template-logo {
  object-fit: cover;
}
#navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  background-color: var(--light-black);
  width: 500px;
  border-radius: 25px;
  height: 50%;
  padding-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-right: 50px;
}
#navbar-menu li {
  width: 100px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 6px;
  align-items: center;
}
#navbar-menu li a {
  color: white;
}
#menu-divider {
  height: 100%;
  width: 5px;
  object-fit: cover;
}
.break-line {
  width: 100%;
  height: 5px;
  background-color: var(--green);
}
/* Style Bottom Header */
#bottom-header {
  background-image: url(../Images/templatemo_banner_bg.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
  background-color: var(--black);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.template-image {
  width: 400px;
  height: 230px;
  background-color: bisque;
  padding: 10px;
}
.template-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#readmore-btn {
  background-image: url(../Images/templatemo_button_01.png);
  background-size: cover;
  width: 90px;
  height: 30px;
  border-radius: 10px;
  font-weight: 700;
}
#template-content {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
#template-content h1 {
  color: white;
}
#template-content p {
  color: var(--light-gray);
}
/* style main */
main {
  background-color: white;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  align-self: center;
}
#sidebar {
  height: 400px;
  width: 300px;
}
#sidebar-header {
  width: 100%;
  height: 70px;
  background-color: var(--black);
  display: flex;
  align-items: center;
}
#sidebar-header h3 {
  color: white;
  margin-left: 20px;
}
#sidebar-main {
  width: 100%;
  height: 330px;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.sidebar-content {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  justify-content: center;
}
.sidebar-text h4 {
  color: var(--light-gray);
  font-size: 12px;
}
.sidebar-image {
  height: 80px;
  width: 80px;
  background-color: white;
  padding: 5px;
}
.sidebar-image img {
  width: 100%;
  object-fit: cover;
}
.sidebar-breakline {
  width: 100%;
  height: 8px;
  background-color: rgb(238, 235, 235);
}
.break-line_medium,
.break-line_small {
  background-color: var(--green);
}
.break-line_medium {
  width: 100%;
  height: 1px;
}
.break-line_small {
  width: 20%;
  height: 6px;
}
#last-paragraph {
  display: grid;
  gap: 10px;
  grid-template-columns: 6px 1fr;
  align-items: center;
  justify-content: center;
}
#green-column-design {
  width: 100%;
  background-color: var(--green);
  height: 90%;
}
#main-content {
  width: 700px;
  margin: 0 auto;
}
#main-content p {
  margin-top: 20px;
}
#main-content ul {
  list-style-type: square;
}
footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  height: 250px;
  background-color: var(--black);
  margin-top: 50px;
}

#footer-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-self: center;
  margin: 20px auto;
  width: 70%;
}

#footer-content ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: 180px;
}

#footer-content li {
  color: var(--light-gray);
  list-style-type: none;
}
#footer-content ul li:first-child {
  font-weight: 700;
  color: white;
}
footer p {
  color: var(--light-gray);
}
footer span {
  color: #313735;
}
